.colorslot-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 15vh;
    max-width: 15vh;
    height: 15vh;
    widows: 15vh;
    margin: 1rem;
    border-radius: 50%;
    border: .75rem solid snow;
    box-shadow: 0 .1rem .5rem #0000007e;
}

.color-hex {
    font-size: .75rem;
    color: black;
}