.brightness-picker-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 90%;
    height: 2rem;
}

.brightness-range-indictor{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: .75rem;
    font-weight: bold;
    margin: 0 .5rem 0 .5rem;
    color: #02000f;
}

.brightness-specific-value{
    width: 5rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: .75rem;
    font-weight: bold;
    text-align: center;
    color: #02000f;
    background-color: silver;
    outline: none;
    border-radius: .5rem;
    border: .25rem solid ivory;
    box-shadow: 0 .1rem .25rem #05001660;
    margin-left: 1rem;
}

.brightness-range {
    box-shadow: 0 .1rem .25rem #05001660;
    background-image: linear-gradient(to left, red, silver);
    border-radius: .5rem;
    border: .25rem solid ivory;
    -webkit-appearance: none;
    width: 100%;
    height: .5rem;
}

.brightness-range:focus {
    outline: none;
}
/* 
.brightness-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 .1rem .25rem #05001660;
    background-image: linear-gradient(to left, red, black);
    border-radius: .5rem;
    border: .25rem solid ivory;
    cursor: pointer;
}
*/

.brightness-range::-webkit-slider-thumb {
    box-shadow: 0 .1rem .25rem #05001660;
    border-radius: .5rem;
    border: .25rem solid ivory;
    height: 1.5em;
    width: 1.5rem;
    border-radius: .25rem;
    background-color: #f5f5f510;
    -webkit-appearance: none;
    cursor: pointer;
}

/* .brightness-range:focus::-webkit-slider-runnable-track {
} */

/* .brightness-range::-moz-range-track {
    width: 100%;
    height: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 .1rem .25rem #05001660;
    background: linear-gradient(to left, red, black);
    border-radius: .5rem;
    border: .25rem solid ivory;
    cursor: pointer;
} */

.brightness-range::-moz-range-thumb {
    box-shadow: 0 .1rem .25rem #05001660;
    border-radius: .5rem;
    border: .25rem solid ivory;
    height: 1.5em;
    width: 1.5rem;
    border-radius: .25rem;
    background: #f5f5f510;
    cursor: pointer;
}