.gen-colors-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    max-width: 100%;
    width: calc(95% - 4rem);
    height: auto;
    padding: 1rem;
    margin: 1rem 0 1rem 0;
    border: .1rem solid #ececf1;
    border-radius: 1rem 1rem .5rem .5rem;
    background-color: #e8e8ee;
}

.gen-dark-caption,
.gen-light-caption
{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: .75rem;
    font-weight: bold;
    text-align: center;
    color: #02000f;
}

.gen-colors-dark,
.gen-colors-light
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 2rem));
    grid-gap: 1rem;
    width: 95%;
    height: auto;
    padding: 1rem;
    margin-top: 1rem;
    justify-self: center;
    justify-content: space-evenly;
    border: .1rem solid #ececf1;
    border-radius: 1rem 1rem .5rem .5rem;
}